  <div class="row m-3">
    <div class="col">
      <h3>Vertical Bar Chart</h3>
      <div>
        <ngx-charts-line-chart
          [view]="view"
          [animations]="true"
          [scheme]="colorScheme"
          [results]="multi"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [autoScale]="autoScale"
          (select)="onSelect($event)">
        </ngx-charts-line-chart>
      </div>
    </div>
  </div>

