<div class="container">
  <mat-tab-group>
    <mat-tab label="Bar">
      <app-bar-chart></app-bar-chart>
    </mat-tab>
    <mat-tab label="Pie / Doughnut">
      <app-pie-chart></app-pie-chart>
    </mat-tab>
    <mat-tab label="Line">
      <app-line-chart></app-line-chart>
    </mat-tab>
    <mat-tab label="Area">
      <app-area-chart></app-area-chart>
    </mat-tab>
    <mat-tab label="Semi Circular">
      <app-angular-chart></app-angular-chart>
    </mat-tab>

  </mat-tab-group>  
</div>

